@tailwind base;
@tailwind components;
@tailwind utilities;


/* Top Products Chart CSS Start */
.top-products {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /* border-radius: 10px; */
    overflow: hidden;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    background-color: white;
  }
  
  .title {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: left;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f8f9fa;
  }
  
  th,
  td {
    padding: 1rem;
    text-align: left;
  }
  
  tr:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
  }
  
  .progress-bar {
    height: 3px;
    border-radius: 5px;
    background-color: #e9ecef;
    overflow: hidden;
    margin-top: 4px;
  }
  
  .progress {
    height: 100%;
    border-radius: 5px;
  }
  
  .sales-badge {
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #e9ecef;
    font-weight: bold;
  }
  
  /* Top Products Chart CSS End */